<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>ZXPDFSearchIndex 3</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>ZXPDFSearchIndex</key>
		<dict>
			<key>ZXPDFSearchDocument</key>
			<data>
			0+T0XDREiAHN/0C+cMjE0ZPdMp8z0q9PlnWUGckK2iI=
			</data>
			<key>ZXPDFSearchMorpheme</key>
			<data>
			5iezEzozU87vijphfe34lmFPFW2YgRMlRUGgd9k6IWQ=
			</data>
			<key>ZXPDFSearchPage</key>
			<data>
			e86qiuYBpLfEIGI72AFekmXlkTMa/HJjLMcAuWUP5ko=
			</data>
		</dict>
		<key>ZXPDFSearchIndex 2</key>
		<dict>
			<key>ZXPDFSearchCharacter</key>
			<data>
			bnrJBLfapl02jr9DoQppbTgKO/wPtmPO38WM7Zfrq7U=
			</data>
			<key>ZXPDFSearchDocument</key>
			<data>
			0+T0XDREiAHN/0C+cMjE0ZPdMp8z0q9PlnWUGckK2iI=
			</data>
			<key>ZXPDFSearchMorpheme</key>
			<data>
			tO3+GFGihxfh80U1WG4bYh0+A+K/hzhWXNKyeHzIOrY=
			</data>
			<key>ZXPDFSearchPage</key>
			<data>
			NyiHZRbpLsUxiB0VKtRUIx13IZon+3dgZaJGe8A3DkE=
			</data>
		</dict>
		<key>ZXPDFSearchIndex 3</key>
		<dict>
			<key>ZXPDFSearchCharacter</key>
			<data>
			bnrJBLfapl02jr9DoQppbTgKO/wPtmPO38WM7Zfrq7U=
			</data>
			<key>ZXPDFSearchDocument</key>
			<data>
			0+T0XDREiAHN/0C+cMjE0ZPdMp8z0q9PlnWUGckK2iI=
			</data>
			<key>ZXPDFSearchMorpheme</key>
			<data>
			0sUuBg5joVDksNrycRIIKNo1qL6f2K0nL4Do4WJjLt0=
			</data>
			<key>ZXPDFSearchPage</key>
			<data>
			NyiHZRbpLsUxiB0VKtRUIx13IZon+3dgZaJGe8A3DkE=
			</data>
		</dict>
	</dict>
</dict>
</plist>
