<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>ZXPDFCMapDefinition 3</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>ZXPDFCMapDefinition</key>
		<dict>
			<key>ZXPDFCMap</key>
			<data>
			8qZ8uDD5T9ztuHuLbq4HmWMqAraVPFc362CgU9KB/j8=
			</data>
			<key>ZXPDFCMapCIDMap</key>
			<data>
			LEJKFyiaQvl+MCgtPMk7eGNqy1sV7LQW1cx0KDjFQLQ=
			</data>
			<key>ZXPDFCMapCIDRangeMap</key>
			<data>
			rmXfJKawCuGwjNFfRe/vYoXG3XR3QTBO+Tuo8mIKRF8=
			</data>
			<key>ZXPDFCMapCodespaceRange</key>
			<data>
			zwR97SyBN9k7PES/e4ilZnAjGbCvKQ7jDEXWMuHoZgs=
			</data>
			<key>ZXPDFCMapUnicodeMap</key>
			<data>
			6N0LZGngFxLJ/fDuNIHfuEYGDJoTMXJIFh1rhkLBWuk=
			</data>
			<key>ZXPDFCMapUnicodeRangeMap</key>
			<data>
			PUosrXv8sqnEaRlMaU5SJM0oLR4sJAN7FY05XUBnu2s=
			</data>
		</dict>
		<key>ZXPDFCMapDefinition 2</key>
		<dict>
			<key>ZXPDFCMap</key>
			<data>
			8IZWN9EtqP106kGx5D16Q4duT+DwsIdCk1isyoDupTM=
			</data>
			<key>ZXPDFCMapCIDMap</key>
			<data>
			LEJKFyiaQvl+MCgtPMk7eGNqy1sV7LQW1cx0KDjFQLQ=
			</data>
			<key>ZXPDFCMapCIDRangeMap</key>
			<data>
			rmXfJKawCuGwjNFfRe/vYoXG3XR3QTBO+Tuo8mIKRF8=
			</data>
			<key>ZXPDFCMapCodespaceRange</key>
			<data>
			zwR97SyBN9k7PES/e4ilZnAjGbCvKQ7jDEXWMuHoZgs=
			</data>
			<key>ZXPDFCMapUnicodeMap</key>
			<data>
			6N0LZGngFxLJ/fDuNIHfuEYGDJoTMXJIFh1rhkLBWuk=
			</data>
			<key>ZXPDFCMapUnicodeRangeMap</key>
			<data>
			PUosrXv8sqnEaRlMaU5SJM0oLR4sJAN7FY05XUBnu2s=
			</data>
		</dict>
		<key>ZXPDFCMapDefinition 3</key>
		<dict>
			<key>ZXPDFCMap</key>
			<data>
			HUyRDKT3WFnMxomxjauLjOn7QW5eFYOm4qLcVVNtUlk=
			</data>
			<key>ZXPDFCMapCIDMap</key>
			<data>
			LEJKFyiaQvl+MCgtPMk7eGNqy1sV7LQW1cx0KDjFQLQ=
			</data>
			<key>ZXPDFCMapCIDRangeMap</key>
			<data>
			rmXfJKawCuGwjNFfRe/vYoXG3XR3QTBO+Tuo8mIKRF8=
			</data>
			<key>ZXPDFCMapCodespaceRange</key>
			<data>
			zwR97SyBN9k7PES/e4ilZnAjGbCvKQ7jDEXWMuHoZgs=
			</data>
			<key>ZXPDFCMapUnicodeMap</key>
			<data>
			6N0LZGngFxLJ/fDuNIHfuEYGDJoTMXJIFh1rhkLBWuk=
			</data>
			<key>ZXPDFCMapUnicodeRangeMap</key>
			<data>
			PUosrXv8sqnEaRlMaU5SJM0oLR4sJAN7FY05XUBnu2s=
			</data>
			<key>ZXPDFFontCharacterRangeWidth</key>
			<data>
			UNmpLgayGLOjZ6vPi9OnvIY+JTQ+666uswZ6pUjRT44=
			</data>
			<key>ZXPDFFontCharacterRangeWidthVertical</key>
			<data>
			1vQjpdqnT+Wts1CyhMoHP83S+RuvirgAQ/6QFJhVtI4=
			</data>
			<key>ZXPDFFontCharacterWidth</key>
			<data>
			aOIYu0JpFNk1/pWnwFTA4I0metlNZLaOUJTwpm8Gq/o=
			</data>
			<key>ZXPDFFontCharacterWidthVertical</key>
			<data>
			cXNozVUFcyuLVeVJkkO5pNZo9tTxi+fG69MDBQ9zHeA=
			</data>
			<key>ZXPDFFontInfo</key>
			<data>
			bo0oqQjZDDq92n2HAapfVZLtpSECz81IQUNJY/Kl55c=
			</data>
		</dict>
	</dict>
</dict>
</plist>
